################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Hospital2/obj/Debug/net10.0-windows
/Hospital2/obj/Release/net10.0-windows
/HospitalDB/bin/Debug
/HospitalDB/obj/Debug
